
<h1>Edit your grocery!</h1>
<%= form_tag "/groceries/#{@grocery.id}", method: :patch do  %>
<div>
    <%= label_tag :name %>
    <%= text_field_tag :name, value=@grocery.name %>
</div>
<div>
    <%= label_tag :made_by %>
    <%= date_field_tag :made_by, value=@grocery.made_by %>
</div>
<div>
    <%= label_tag :expiration_date %>
    <%= date_field_tag :expiration_date, value=@grocery.expiration_date %>
</div>

<%= submit_tag "Submit" %>
<% end %>

<%= button_to "cancel", {:controller => :groceries,
      :action => 'show' }, :method => :get %>
