<h4>Name:
    <%= @grocery.name %></h4>
<p>Made By:
    <%= @grocery.made_by %></p>
<p>Expiration Date:
    <%= @grocery.expiration_date %></p>
<p>Catagories:</p>
    <% @catagories.each do |catagory| %>
    <p> <%= catagory.name %></p>
    <% end %>

<%= button_to "Home", {:controller => :groceries,
          :action => 'index' }, :method => :get %>
<%= button_to "edit", {:controller => :groceries,
          :action => 'edit' }, :method => :get %>
<%= button_to "delete", {:controller => :groceries,
          :action => 'destroy' }, :method => :delete %>
